@model MemberList

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    @section Buttons{
        <a class="header-item"></a>
        <a asp-action="Procedure" class="header-item">Quy trình</a>
        <a asp-action="Index" class="header-item">Trang chủ</a>
    }


    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/nhanSu&DuAn.css">
    <link rel="stylesheet" href="~/css/phanTrang.css">
</head>
<body>
    <form asp-action="Member" method="post">
        <fieldset>
            <label style=" font-size: 18px " for="truongDuLieu">Tìm theo</label>
            <select name="searchField" id="searchField">
                <option value="LabID">LAB ID</option>
                <option value="Name">Họ và tên</option>
                <option value="Sex">Giới tính</option>
                <option value="Birthday">Ngày sinh</option>
                <option value="Gen">Thế hệ</option>
                <option value="Unit">Đơn vị</option>
                <option value="Position">Chức vụ</option>
            </select>

            <input name="searchString" class="search" type="text" placeholder="Điền thông tin">
            <input type="submit" value="Tìm kiếm">

            <div style="margin-top: -40px; position: absolute; right: 8%;">
                <button style="padding: 8px 7px;" class="addQuyTrinh">Thêm Thành Viên</button>
            </div>
        </fieldset>

        <div class="tableWrap">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: center; font-size: 20px;" colspan="8">DANH SÁCH THÀNH VIÊN</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; width: 5%;">
                            <a href="@Url.Action("Member", "BNS", new { sortOrder = ViewBag.IDSortParm })" class="btn btn-primary">
                                LAB ID <i class="fa fa-sort"></i>
                            </a>
                        </th>
                        <th style="text-align: center; width: 17.5%;">
                            <a href="@Url.Action("Member", "BNS", new { sortOrder = ViewBag.NameSortParm })" class="btn btn-primary">
                                TÊN THÀNH VIÊN <i class="fa fa-sort"></i>
                            </a>
                        </th>
                        <th style="text-align: center; width: 7.5%;">GIỚI TÍNH</th>
                        <th style="text-align: center; width: 10%;">NGÀY SINH</th>
                        <th style="text-align: center; width: 7.5%;">
                            <a href="@Url.Action("Member", "BNS", new { sortOrder = ViewBag.GenSortParm })" class="btn btn-primary">
                                THẾ HỆ <i class="fa fa-sort"></i>
                            </a>
                        </th>
                        <th style="text-align: center; width: 20%;">
                            <a href="@Url.Action("Member", "BNS", new { sortOrder = ViewBag.UnitSortParm })" class="btn btn-primary">
                                ĐƠN VỊ <i class="fa fa-sort"></i>
                            </a>
                        </th>
                        <th style="text-align: center; width: 20%;">CHỨC VỤ</th>
                        <th style="text-align: center;">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PageCount >= 0)
                    {
                        foreach (var item in Model.Members)
                        {
                            <tr id="0" style="user-select: auto;">
                                <td style="user-select: auto; text-align: center;"> @item.LabID</td>
                                <td style="user-select: auto;"> @item.Name</td>
                                <td style="user-select: auto; text-align: center;"> @item.Sex</td>
                                <td style="user-select: auto; text-align: center;"> @item.Birthday</td>
                                <td style="user-select: auto; text-align: center;"> @item.Gen</td>
                                <td style="user-select: auto;"> @item.Unit</td>
                                <td style="user-select: auto;"> @item.Position</td>
                                <td style="user-select: auto; text-align: center;">
                                    <a asp-action="MemberDetail" asp-route-id="@item.LabID" class="edit table-fix" value="0" style="user-select: auto;">Chi tiết</a>
                                    <button class="delete confirm" value="0" style="user-select: auto;">Xóa</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="1">
                            Không tìm thấy kết quả hợp lệ!!!
                        </tr>
                    }

                </tbody>

            </table>
            
        </div>
        <table cellpadding="0" cellspacing="0">
            <tr>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <td style="text-align: center; max-width: 5%;">
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i);">@i</a>
                        }
                        else
                        {
                            <span style="background-color:#f00;">@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" id="hfCurrentPage" name="currentPage" />
    </form>

    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hfCurrentPage").value = index;
            document.forms[0].submit();
        }
    </script>

</body>



</html>