@model List<Procedure>

@{
    @section Buttons{
        <a class="header-item"></a>
        <a asp-action="Member" class="header-item">Thông tin thành viên</a>
        <a asp-action="Index" class="header-item">Trang chủ</a>
    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/procedures.css">
</head>
<body>
    <div class="wrap-back" style="display:flex;">
        <a href="./banDaoTao.html"><h2 class="backMainPage"> Trang Chủ</h2></a>
        <p>/</p>
        <a href="#"><h2 style="padding-left: 10px;" class="backMainPage">Quy Trình</h2></a>
    </div>

    <div style="width: 1030px;margin: auto;text-align: right;">
        <button class="add-nhanSu" onclick="location.href='@Url.Action("AddProcedure", "BNS")'">Thêm Quy Trình</button>
        <button class="btn-excel">Xuất file Excel</button>

    </div>
    <div class="wrap-sreach">
        <input class="search" type="text" name="Hop nhap" placeholder="Hộp nhập">
        <select name="truongDuLieu" id="truongDuLieu">
            <option selected="selected"> ID</option>
            <option>Tên Quy Trình</option>
            <option>Ngày Gửi Đi</option>
            <option>Nội Dung</option>
            <option>Loại Quy Trình</option>
            <option>Tình Trạng</option>
        </select>
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
            Tìm Kiếm
        </button>
    </div>


    <div class="container mt-2">
        <table class="table-quyTrinh">
            <tr>
                <th>
                    ID
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Tên Quy Trình
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Ngày Gửi Đi
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Nội Dung
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Loại Quy Trình
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Tình Trạng
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
            </tr>




            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr id="0" style="user-select: auto;">
                        <td style="user-select: auto; text-align: center;"> @item.Id</td>
                        <td style="user-select: auto;"> @item.Name</td>
                        <td style="user-select: auto; text-align: center;"> @item.Senddate</td>
                        <td style="user-select: auto; text-align: center;"> @item.Content</td>
                        <td style="user-select: auto; text-align: center;"> @item.Status</td>
                        <td style="user-select: auto; text-align: center;">
                            <button type="button" onclick="location.href='@Url.Action("ProcedureDetail", "BNS", new { id = item.Id })'">Chi tiết</button>
                            <button type="button" onclick="confirm_detele(@item.Id)" id="deleteMember" value="@item.Id">Xóa</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr id="1">
                    Không tìm thấy kết quả hợp lệ!!!
                </tr>
            }


        </table>
    </div>
    <div class="wrap-totalMember">
        <p class="totalMember">Tổng Quy Trình: </p>
        <p id="totalMember">@Model.Count</p>
    </div>

    <div class="pagination">
        <ul>
        </ul>
    </div>
    @if (Model.Count >= 0)
    {
        foreach (var item in Model)
        {
            <div style="display: none; min-width: 40%; height: 30%; left: 20%; top: 30%; z-index: 1;" class="form-frame delete-form" id="@item.Id">
                <div>
                    <a style="text-align: center; color: #fff;"> Bạn có chắc chắn muốn xóa thông báo có ID = @item.Id không? </a>
                </div>
                <div>
                    <input class="form-submit" type="button" onclick="location.href='@Url.Action("DeleteProcedure", "BNS", new{procedureID = @item.Id})'" style="margin-top: 15px;" value="Có">
                    <input class="form-submit" type="button" onclick="confirm_delete_disabled()" style="margin-top: 15px;" value="Không">
                </div>
            </div>
        }
    }
    <style>
        .form-frame {
            position: fixed !important;
            border-radius: 24px !important;
            padding: 30px 30px 40px;
            background-color: #000;
        }
    </style>
    <script>
        function confirm_detele(id) {
            var subScene = document.getElementsByClassName("delete-form");
            for (let i = 0; i < subScene.length; i++) {
                subScene[i].style.display = "none";
                if (subScene[i].id == id) {
                    subScene[i].style.display = "flex";
                }
            }
        }


        function confirm_delete_disabled() {
            var subScene = document.getElementsByClassName("delete-form");
            for (let i = 0; i < subScene.length; i++) {
                subScene[i].style.display = "none";
            }
        }
    </script>
</body>
</html>

