@model ItemDetail<Project>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section Buttons{
        @if (Model.SessionVar == "Ban Nhân Sự")
        {
            <a asp-action="Account" class="header-item">Tài khoản</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Thông tin thành viên</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar == "Ban Đào Tạo")
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Member" class="header-item">Thông tin thành viên</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else
        {
            <a class="header-item"></a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
    }
    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/procedures.css">
</head>
<body>
    @RenderBody()
    <div class="wrap-back" style="display:flex;">
        <a href="./banDaoTao.html"><h2 class="backMainPage"> Trang Chủ</h2></a>
        <p>/</p>
        <a href="./duAn.html"><h2 style="padding-left: 10px;" class="backMainPage"> Dự Án</h2></a>
        <p>/</p>
        <a href="#"><h2 style="padding-left: 10px;" class="backMainPage">Chi Tiết Dự Án</h2></a>
    </div>

    <div style="width: 1030px;margin: auto;text-align: right;">
        <button class="btn-excel">Xuất file PDF</button>
    </div>
    <div style="display:flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 30px;" id="wrap-DuAn">
        <div id="name-DuAn">@Model.Item.Name </div>
        <input style="display:none;" id="name-input" type="text" placeholder="@Model.Item.Name" value="@Model.Item.Name" name="Name">
        <i style="    margin-left: 20px;" class="fa-regular fa-pen-to-square"></i>
    </div>
    <div style="display:flex; justify-content: center;" id="wrap-DuAn2">
        <div id="name-DuAn2">Loại dự án: @Model.Item.ProjectType </div>
        <input style="display:none;" id="name-input2" type="d" placeholder="Loại Dự Án">
        <i style="    margin-left: 20px;" class="fa-regular fa-pen-to-square"></i>
    </div>

    <div style="display: flex ;justify-content: space-between;margin: 20px 160px;" class="date-DuAn">
        <div style="display:flex" class="start">
            <p>Ngày Bắt Đầu: </p>
            <div style="display:flex; margin: 16px 10px; justify-content: center;" id="wrap-DuAn3">
                <div id="name-DuAn3">@Model.Item.Startday</div>
                <input style="display:none;" id="name-input3" type="text" placeholder="dd/mm/yy">
                <i style="    margin-left: 20px;" class="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
        <div style="display:flex" class="end">
            <p>Ngày Kết Thúc: </p>
            <div style="display:flex; margin: 16px 10px; justify-content: center;" id="wrap-DuAn4">
                <div id="name-DuAn4">@Model.Item.Endday </div>
                <input style="display:none;" id="name-input4" type="text" placeholder="dd/mm/yy">
                <i style="    margin-left: 20px;" class="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
    </div>


    <div class="container mt-2">
        <table class="table-nhanSu">
            <tr>
                <th>
                    <i style="margin-right: 6px;" class="fa-solid fa-sort"></i>
                    Lab ID
                </th>
                <th><i style="margin-right: 6px;" class="fa-solid fa-sort"></i>Tên</th>
                <th>
                    <i style="margin-right: 6px;" class="fa-solid fa-sort"></i>
                    Giới Tính
                </th>
                <th><i style="margin-right: 6px;" class="fa-solid fa-sort"></i>Ngày Sinh</th>
                <th><i style="margin-right: 6px;" class="fa-solid fa-sort"></i>Gen</th>
                <th><i style="margin-right: 6px;" class="fa-solid fa-sort"></i>Nhóm Chuyên Môn</th>
                <th></th>
            </tr>
        </table>
    </div>

    <div class="wrap-totalMember">
        <p class="totalMember">Tổng Thành Viên: </p>
        <p id="total">100</p>
    </div>

    <div class="pagination">
        <ul>
        </ul>
    </div>

    <div class="" style="margin-left: 886px;">
        <button class="add-nhanSu btn-confirm">
            <i class="fa-solid fa-plus"></i>
            Thêm Nhân Sự
        </button>
        <button style="margin-left: 42px;" class="add-nhanSu btn-confirm">
            <i class="fa-solid fa-plus"></i>
            Lưu
        </button>

    </div>

    <div style="background-color:#888" class="dialog-confirm" title="Xác Nhận">
        <p>Bạn chắc chắn muốn thay đổi ?</p>
        <div style="    display: flex;margin-top: 33px;">
            <button>Đồng Ý</button>
            <button class="btn-close" style="padding: 14px 52px;">Hủy</button>
        </div>
    </div>
    <script>
        $("#wrap-DuAn").click(function () {
            document.getElementById("name-DuAn").style.display = 'none';
            document.getElementById("name-input").style.display = 'block';

        })
        $('#name-input').change(function () {
            var textName = this.value;
            console.log(textName);
            if (textName) {
                document.getElementById('name-DuAn').innerText = `${textName} `;
            }
        })
        $('#name-input').focusout(function () {
            document.getElementById("name-DuAn").style.display = 'block';
            document.getElementById("name-input").style.display = 'none';
        })

        $("#wrap-DuAn2").click(function () {
            document.getElementById("name-DuAn2").style.display = 'none';
            document.getElementById("name-input2").style.display = 'block';

        })
        $('#name-input2').change(function () {
            var textName = this.value;
            console.log(textName);
            if (textName) {
                document.getElementById('name-DuAn2').innerText = `${textName} `;
            }
        })
        $('#name-input2').focusout(function () {
            document.getElementById("name-DuAn2").style.display = 'block';
            document.getElementById("name-input2").style.display = 'none';
        })

        $("#wrap-DuAn3").click(function () {
            document.getElementById("name-DuAn3").style.display = 'none';
            document.getElementById("name-input3").style.display = 'block';

        })
        $('#name-input3').change(function () {
            var textName = this.value;
            console.log(textName);
            if (textName) {
                document.getElementById('name-DuAn3').innerText = `${textName} `;
            }
        })
        $('#name-input3').focusout(function () {
            document.getElementById("name-DuAn3").style.display = 'block';
            document.getElementById("name-input3").style.display = 'none';
        })

        $("#wrap-DuAn4").click(function () {
            document.getElementById("name-DuAn4").style.display = 'none';
            document.getElementById("name-input4").style.display = 'block';

        })
        $('#name-input4').change(function () {
            var textName = this.value;
            console.log(textName);
            if (textName) {
                document.getElementById('name-DuAn4').innerText = `${textName} `;
            }
        })
        $('#name-input4').focusout(function () {
            document.getElementById("name-DuAn4").style.display = 'block';
            document.getElementById("name-input4").style.display = 'none';
        })
        $(document).ready(function () {
            var dataDuAnJS = new dataJS();
            dataDuAnJS.loadData()

            $(".dialog-confirm").dialog({
                autoOpen: false,
                show: { effect: "blind", duration: 300 },
                hide: { effect: "blind", duration: 300 },
                width: 400, height: "auto", resizable: false,
                modal: true,
            });

            $(".btn-confirm").click(function () {
                $(".dialog-confirm").dialog("open");
            })
            $(".btn-close").click(function () {
                $(".dialog-confirm").dialog("close");
            })
        })
    </script>
</body>
