@model List<Project>

@{
    @section Buttons{
        <a class="header-item"></a>
        <a asp-action="Training" class="header-item">Thông báo</a>
        <a asp-action="Training" class="header-item">Bài đào tạo</a>
        <a asp-action="Procedure" class="header-item">Quy trình</a>
        <a asp-action="Member" class="header-item">Thông tin thành viên</a>
        <a asp-action="Index" class="header-item">Trang chủ</a>
    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/procedures.css">
</head>
<body>
    <div class="wrap-back" style="display:flex;">
        <a href="./banDaoTao.html"><h2 class="backMainPage"> Trang Chủ</h2></a>
        <p>/</p>
        <a href="#"><h2 style="padding-left: 10px;" class="backMainPage">Dự án</h2></a>
    </div>

    <div style="width: 1030px;margin: auto;text-align: right;">
        <button class="btn-excel">Xuất file Excel</button>

    </div>
    <div class="wrap-sreach">
        <input class="search" type="text" name="Hop nhap" placeholder="Hộp nhập">
        <select name="truongDuLieu" id="truongDuLieu">
            <option selected="selected"> ID</option>
            <option>Tên dự án</option>
            <option>Ngày bắt đầu</option>
            <option>Ngày kết thúc</option>
            <option>Đơn vị</option>
            <option>Tình trạng</option>
        </select>
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
            Tìm Kiếm
        </button>
    </div>


    <div class="container mt-2">
        <table class="table-quyTrinh">

            <tr>
                <th>
                    ID
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Tên Dự án
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Ngày bắt đầu
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Ngày kết thúc
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Đơn vị
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Tình trạng
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
                <th>
                    Chức năng
                    <button name="sortOrder" id="Birthday" value="Birthday" onchange="this.forms.submit">
                        <i class="fa fa-sort"></i>
                    </button>
                </th>
            </tr>




            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr id="0" style="user-select: auto;">
                        <td style="user-select: auto; text-align: center;"> @item.Id</td>
                        <td style="user-select: auto;"> @item.Name</td>
                        <td style="user-select: auto; text-align: center;"> @item.Startday</td>
                        <td style="user-select: auto; text-align: center;"> @item.Endday</td>
                        <td style="user-select: auto; text-align: center;"> @item.Unit</td>
                        <td style="user-select: auto; text-align: center;"> @item.Status</td>
                        <td style="user-select: auto; text-align: center;">
                            <button type="button" onclick="location.href='@Url.Action("ProjectDetail", "BDT", new { id = item.Id })'">Chi tiết</button>
                            <button class="delete confirm" value="0" style="user-select: auto;">Xóa</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr id="1">
                    Không tìm thấy kết quả hợp lệ!!!
                </tr>
            }


        </table>
    </div>


    <div class="wrap-totalMember">
        <p class="totalMember">Tổng Quy Trình: </p>
        <p id="totalMember">@Model.Count</p>
    </div>

    <div class="pagination">
        <ul>
        </ul>
    </div>
</body>
</html>