@model List<Training>;
@{
    @section Buttons{
        <a class="header-item"></a>
        <a class="header-item"></a>
        <a asp-action="Infor" class="header-item">Thông tin cá nhân</a>
        <a asp-action="Index" class="header-item">Trang chủ</a>
    }


    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/training.css">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; margin-bottom: -50px; max-height: 800px;">
        <div style="width: 100%;">
            <iframe style="width: 100%; height: 100%;" src="@Model[(int)ViewData["currentTraining"]].Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>@Model[(int)ViewData["currentTraining"]].Name</p>
        </div>
        <div class="col-2">
            <div id="accordion-course" style="overflow: scroll; height: auto; max-height: 100%;">
                @foreach (var item in Model)
                {
                    <h3 > @item.Id: @item.Name</h3>
                    <h3>
                        <a asp-action="Training" asp-route-id="@item.Id">Xem</a>
                        <a asp-action="Training" asp-route-id="@item.Id">Xem</a>
                    </h3>
                }
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        $("#accordion-course").accordion({
            // width: "10px",
        });
    });
</script>
</html>